In [1]:
from data_wrapper import WVS_Data
from bayes import bayes, test_all_vars
from data_prep import all_vars

In [2]:
data = WVS_Data()

In [15]:
data.responses['V258A']

0        1.0000
1        1.0000
2        1.0000
3        1.0000
4        1.0000
5        1.0000
6        1.0000
7        1.0000
8        1.0000
9        1.0000
10       1.0000
11       1.0000
12       1.0000
13       1.0000
14       1.0000
15       1.0000
16       1.0000
17       1.0000
18       1.0000
19       1.0000
20       1.0000
21       1.0000
22       1.0000
23       1.0000
24       1.0000
25       1.0000
26       1.0000
27       1.0000
28       1.0000
29       1.0000
          ...
90320    0.4329
90321    0.4329
90322    0.4329
90323    0.4329
90324    0.4329
90325    0.4329
90326    0.4329
90327    0.4329
90328    0.4329
90329    0.4329
90330    2.2801
90331    2.2801
90332    2.2801
90333    2.2801
90334    2.2801
90335    2.2801
90336    2.2801
90337    2.2801
90338    2.2801
90339    2.2801
90340    2.2801
90341    2.2801
90342    2.2801
90343    2.2801
90344    2.2801
90345    2.2801
90346    2.2801
90347    2.2801
90348    2.2801
90349    2.2801
Name: V258A, Length: 90350, dtype: float64

In [12]:
data

Responses: (90350, 339)
Codebook: (339, 3)

In [6]:
data.about_q('V258')

Label: Weight

Question: Weight variable (Provide a 4-digit weight variable to correct your sample to reflect national distributions of key variables. If no weighting is necessary, simply code each case as “1.” It is especially important to correct for education. For example, if your sample contains 10 percent more university-educated respondents as there are in the adult population, members of this group should be downweighted by 10 percent, giving them a weight of .90).

Categories:
 1. No weighting
 0. Undefined
 0.1#10#reasonable
 0.05#50#bad

In [3]:
# Drop negative responses
df = data.responses.loc[:,all_vars]
df = df.mask(df < 0).dropna()

In [4]:
test_all_vars(df, all_vars)

     var                                des  baseline     score   improve
0    V2A                       country code  0.062421  0.120801  0.058380
1     V4             import in life: family  0.920056  0.919103 -0.000953
2    V10               feeling of happiness  0.507036  0.468631 -0.038406
3    V80         most serious world problem  0.561649  0.496595 -0.065054
4   V100           Hard work brings success  0.267432  0.261485 -0.005947
5   V148                     Believe in God  0.869484  0.869167 -0.000318
6   V179                    victim of crime  0.912657  0.907663 -0.004994
7   V178         carried knife for security  0.928591  0.928591  0.000000
8   V187                   war is necessary  0.656846  0.635600 -0.021246
9   V209  Justifiable parents beat children  0.515072  0.514981 -0.000091
10  V211               proud of nationality  0.598239  0.531505 -0.066733
11  V225    how often use personal computer  0.388506  0.499818  0.111313
12  V238            social class subjective  0.357136  0.351507 -0.005629
13  V248          highest educational level  0.199383  0.215725  0.016343